
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 15px;
            text-align: center;
        }

        nav {
            background-color: #444;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            margin: 0 10px;
        }
        nav a:hover{
            color:rgb(190, 123, 123);
        }
        div p{
            width:8cm;
            height:4cm;
            margin-left: 34px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 400;
            margin-bottom: 0px;

        }
        div img{
            height: 7cm;
            width:7cm;
            margin-left: 37px;
            border-radius: 7px;
            box-shadow: 2px 2px 2px 2px rgba(35, 31, 25, 0.647);
        }
        div img:hover{
            height: 7.1cm;
            width:7.1cm;
        }
        article div button{
            margin-top:0px;
            margin-left: 29px;
        }
        


        section {
            padding: 20px;
        }

        article {
            margin-bottom: 20px;
            padding: 20px;
            background-color: #fff;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
    